<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== BOXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/css/styles.css" />

    <title>AquaPi - Smart Aquarium</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">AquaPi</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">About Us</a>
            </li>
            <li class="nav__item">
              <a href="#services" class="nav__link">Services</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">Our Team</a>
            </li>

            <i class="bx bx-toggle-left change-theme" id="theme-button"></i>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>

        <a href="{{ url_for('dashboard') }}" class="button button__header">Dashboard</a>
      </nav>
    </header>

    <main class="main">
      <!--=============== HOME ===============-->
      <section class="home section" id="home">
        <div class="home__container container grid">
          <img
            class="svg__img svg__color home__img"
            src="../static/img/aquarium-illustration.png"
            alt="Description of your image"
          />

          <div class="home__data">
            <h1 class="home__title">
              AquaPi <br />
              Smart Aquarium
            </h1>
            <p class="home__description">
              AquaPi optimizes aquarium care with AI and sensors, powered by
              Raspberry Pi for seamless control and monitoring.
            </p>

            <a href="{{ url_for('dashboard') }}" class="button">Dashboard</a>
          </div>
        </div>
      </section>

      <!--=============== ABOUT ===============-->
      <section class="about section container" id="about">
        <div class="about__container grid">
          <div class="about__data">
            <h2 class="section__title-center">
              Find Out A Little More <br />
              About Us
            </h2>
            <p class="about__description">
              AquaPi harnesses IoT technology to create a smart aquarium system
              that autonomously maintains optimal conditions for aquatic life.
            </p>
          </div>

          <img
            class="svg__img svg__color about__img"
            src="../static/img/iot-illustration.png"
            alt="Description of your image"
          />
        </div>
      </section>

      <!--=============== SECURITY ===============-->
      <section class="security section container">
        <div class="security__container grid">
          <div class="security__data">
            <h2 class="section__title-center">
              Artificial Intelligence <br />
              Machine Learning
            </h2>
            <p class="security__description">
              AquaPi also employs cutting-edge AI and machine learning to
              continually enhance its smart aquarium capabilities, ensuring
              optimal conditions for aquatic life.
            </p>
          </div>

          <img
            class="svg__img svg__color"
            src="../static/img/ai-illustration.png"
            alt="Description of your image"
          />
        </div>
      </section>

      <!--=============== SERVICES ===============-->
      <section class="services section container" id="services">
        <h2 class="section__title">
          What Our System Can </br>
          Provide
        </h2>
        <div class="services__container grid">
          <div class="services__data">
            <h3 class="services__subtitle">Monitoring</h3>

            <img
              class="svg__color services__img"
              src="../static/img/monitoring-illustration.png"
              alt="Description of your image"
            />

            <p class="services__description">
              Your aquatic world, always visible.
            </p>
            <div>
              <!-- <a href="#" class="button button-link">Learn More</a> -->
            </div>
          </div>

          <div class="services__data">
            <h3 class="services__subtitle">IoT</h3>

            <img
              class="svg__color services__img"
              src="../static/img/iot-2-illustration.png"
              alt="Description of your image"
            />

            <p class="services__description">
              Monitoring your world, anytime, anywhere.
            </p>
            <div>
              <!-- <a href="#" class="button button-link">Learn More</a> -->
            </div>
          </div>

          <div class="services__data">
            <h3 class="services__subtitle">AI / ML</h3>

            <img
              class="svg__color services__img"
              src="../static/img/ai-ml-illustration.png"
              alt="Description of your image"
            />

            <p class="services__description">
              Constantly learning, live insights delivered.
            </p>
            <div>
              <!-- <a href="#" class="button button-link">Learn More</a> -->
            </div>
          </div>
        </div>
      </section>

      <!--=============== OUR TEAM ===============-->
      <section class="contact section container" id="contact">
        <div class="containerf">
          <div class="headerf">
            <h1>Our Team</h1>
          </div>
          <div class="sub-container">
            <div class="teams">
              <img src="../static/img/undraw_home_run_acyh.svg" alt="" />
              <div class="name">Astro Ben Bosales</div>
              <div class="desig">CEO</div>
              <div class="about">"Huwag kang maniniwala sa swerte, malas yan!"</div>

              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>
            <div class="teams">
              <img src="../static/img/undraw_landscape_photographer_blv1.svg" alt="" />
              <div class="name">Kristoffer Cardenas</div>
              <div class="desig">Manager</div>
              <div class="about">"Kung hindi mo na kaya, ipagawa mo sa iba."</div>

              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>
            <div class="teams">
              <img src="../static/img/undraw_playing_golf_sdt3.svg" alt="" />
              <div class="name">John Ricklan Gueta</div>
              <div class="desig">Source</div>
              <div class="about">"Kung may problema ka, its your problem."</div>

              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>
            <div class="teams">
              <img src="../static/img/undraw_walking_in_rain_vo9p.svg" alt="" />
              <div class="name">Reynaldo Laran</div>
              <div class="desig">Supplier</div>
              <div class="about">"Kung hindi ka nagkakamali, may tama kana."</div>

              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>

            <div class="teams">
              <img src="../static/img/undraw_appreciate_it_re_yc8h.svg" alt="" />
              <div class="name">Ezekiel Nequit</div>
              <div class="desig">Adviser</div>
              <div class="about">"Panalo ka talaga, kapag winner ka."</div>

              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>

            <div class="teams">
              <img src="../static/img/undraw_make_it_rain_re_w9pc.svg" alt="" />
              <div class="name">Hans Laurence Marcos</div>
              <div class="desig">Developer</div>
              <div class="about">"Kapag ako nanahimik, wala kang maririnig."</div>

              <div class="social-links">
                <a href="https://www.facebook.com/immafishball"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="mailto:hansmarcos14@gmail.com"
                  ><i class="fa fa-envelope"></i
                ></a>
                <a href="https://www.twitter.com/immafishball"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="https://www.github.com/immafishball"
                  ><i class="fa fa-github"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt scrollup__icon"></i>
    </a>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
  </body>
</html>
